
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2 {
    text-align: center;
}

input, select, button {
    padding: 10px;
    margin: 5px;
}

button {
    cursor: pointer;
}

#task-container, #completed-task-container {
    margin-top: 20px;
}

.task, .completed-task {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}

.remove-task, .mark-inactive {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}
